@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #237baa;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:#fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

#cart-modal{
    width: 60vw;
    height: 80vh;
    position: fixed;
    z-index: 100;
    top: 15%;
    left: 20%;
    background-color: #fff;
    border: 1px solid #333;

}

#cart-modal .cart-list{
    margin: 20px;
    height: 80%;
    background-color: #ddd;
    overflow: scroll;
}

.active-modal{
    display: initial;
}

.closed-modal{
    display: none;
}


#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(pages/Home/images/banner/b2.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;

}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner-box{
    transition: 200ms;
}

.banner-box:hover{
    box-shadow: 0px 10px 30px rgba(21, 21, 21, 0.3);
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(pages/Home/images/banner/b2.png);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: 20px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #237baa;
    border: 1px solid #237baa;
}

#sm-banner .banner-box2 {
    background-image: url(pages/Home/images/banner/b2.png); 
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(pages/Home/images/banner/b2.png);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(pages/Home/images/banner/b2.png);
}

#banner3 .banner-box3 {
    background-image: url(pages/Home/images/banner/b2.png);
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 .banner-box3 h2{
    color: #333;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url(/img/banner/b14.png); */
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff; 
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0; 
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#newsletter button {
    background-color: #20a1bb;
    color: #fff;
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;  
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* SHOP PAGE STYLING */

#page-header {
    background-image: url(pages/Home/images/banner/b2.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
}

#page-header h2, 
#page-header p {
    color: #fff;
}

.filters{
    display: flex;
    justify-content: center;
}

.filters button{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 24px;
    color: #fff;
    background-color: #20a1bb;
    border: none;
    box-shadow: ;
    transition: 0.2s;
}

.filters button:nth-child(2){
    background-color: rgb(159, 0, 0);
}

.filters button:nth-child(3){
    background-color: rgb(255, 140, 0);
}

.filters button:nth-child(4){
    background-color: rgb(9, 131, 0);
}

.filters button:nth-child(5){
    background-color: rgb(177, 0, 142);
}

.filters button:hover{
    background-color: #444;
    transform: scale(1.1);
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* SINGLE PRODUCT PAGE STYLING */

#pro-details {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pro-details .single-pro-image {
    width: 25%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#pro-details .single-pro-details {
    width: 40%;
    padding-top: 30px;
}

#pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .single-pro-details h2 {
   font-size: 26px;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}


#pro-details .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
    outline: none;
}

#pro-details .single-pro-details button {
    background-color: #088178;
    color: #fff;
}

#pro-details .single-pro-details p {
    line-height: 25px;
}

/* BLOG PAGE STYLING */
#page-header.blog-header {
    background-image: url(pages/Home/images/banner/b2.png);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top:4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #237baa;
}

#blog .blog-details a:hover::after  {
    background-color: #237baa;
}

#blog .blog-box h1 {
    position:absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #237baa;
    z-index: -9;
}

#blog .blog-box:hover{
    box-sizing: 0 5px 20px 20px #000;
    background-color: #0001;
}

/* ABOUT PAGE STYLING */

#page-header.about-header {
    background-image: url(pages/Home/images/banner/b2.png);
}

#about-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-head img {
    width: 40%;
    height: auto;
}

#about-head div {
    width: 40%;
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* CONTACT PAGE STYLING */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 16px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* CART PAGE */

#cart .cart-header{
    display: grid;
    grid-template-columns: 100px auto 100px 100px 50px;
    background-color: #ddd;
    padding: 20px;
}

.item-container{ 
    display: grid;
    grid-template-columns: 100px auto 100px 100px 50px;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid #333;
}

#cart .total{
    padding: 10px 30px;
    text-align: end;
}

@media (max-width: 799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 80px 0 0 10px;
        transition: 0.5s ease;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #services {
        justify-content: center;
    }

    #services .fe-box {
        width: 130px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
         min-width: 100%;
         height: 30vh;   
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    /* Contact Page */
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
}

@media (max-width: 477px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 30px 10px;
    }

    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }
    
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #banner3 {
        padding: 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    /* Single Product Page */

    #pro-details {
        display:flex;
        flex-direction: column;
    }

    #pro-details .single-pro-image {
        margin-right: 0;
        width: 100%;
    }

    #pro-details .single-pro-details {
        width: 100%;
    }

    /* Blog Page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About Page */

    #about-head {
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        width: 100%;
        padding-left: 0;
    }

    #about-head h2 {
        text-align: center;
    }

    #about-app .video {
        width: 100%;
    }

    /* Contact Page */
    #contact-details {
       flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
       margin: 10px;
       padding: 30px 10px;
       flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
}